name: Deploy Tailwind Portfolio

on:
  push:
    branches:
      - main   # run on push to main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install dependencies
        run: npm install --legacy-peer-deps

      - name: Build Tailwind CSS
        run: npx tailwindcss -i ./app/globals.css -o ./dist/output.css --minify

      - name: Prepare dist folder
        run: |
         cp index.html dist/
         cp -r assets dist/  
         cp dist/output.css dist/

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
